workDir = System.getenv('NXF_WORK') ?: "${baseDir}/work"

process {
  errorStrategy = 'retry'
  maxRetries    = 1
}

profiles {

  slurm {
    process {
      executor = 'slurm'
      // queue = 'short'                 // <- set if your site requires a partition
      // clusterOptions = '--account=YOUR_ACCOUNT'  // <- set if required
    }
    timeline { enabled = true; file = "${baseDir}/timeline.html" }
    report   { enabled = true; file = "${baseDir}/report.html"   }
    trace    { enabled = true; file = "${baseDir}/trace.txt"     }
    dag      { enabled = true; file = "${baseDir}/flow.svg"      }
  }

  singularity {
    singularity.enabled = true
    // Use an image that includes /bin/bash (Alpine does not)
    process.container   = 'docker://ubuntu:22.04'
  }
}
